<div class="hero-unit">
  <h1>Almost Zero Based Budgeting</h1>
  <p>You've found my almost zero based budgeting app. It should work for the most part. Heck, I'm using it, how bad could it be?</p>
  <p>
    <strong>Zero what?</strong>
    <div>Zero based just means that you give every dollar that comes in a name at the beginning of the month instead of waiting until the dollars are all gone. That's called budgeting and it will help you pay down debt and save for the future. If you tell every dollar where it's going you should end up with 0 left over at the end of the month.</div>
  </p>
  <p>
    <strong>Almost?</strong>
    <div>Zero is a good goal to shoot for, but I've found that if you misjudge that by just a little bit the bank likes to collect things called overdraft fees. That's why I like to keep a small buffer (get it? budgetbuffer.com?). You'll find your buffers on the right of each budget...both projected buffer and an actual buffer.</div>
  </p>
  <p>
    <strong>Can I try it?</strong>
    <div>Sure, I've got a sandboxed environment waiting for you <%= link_to 'right here', sandbox_path(anything: "budgets") %>. Nothing you do in here will be saved, it's just a place to kick the tires.</div>
  </p>
  <p>
    <strong>I LOVE it!</strong>
    <div>Thanks, I knew you would. Sign up below with the giant green button. You can contact me <%= link_to 'here', 'mailto:darrinholst+budgetbuffer@gmail.com'%> with any questions.</div>
  </p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-large" %>
  </p>
</div>

