<div class="hero-unit">
  <h1>Envelope Budgeting!</h1>
  <p>This is a super, alpha, beta envelope budgeting application. It should work for the most part. Heck, I'm using it, how bad could it be?</p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-large" %>
    <%= link_to "Try Before You Buy", sandbox_path(:anything => "budgets"), :class => "btn btn-success btn-large" %>
  </p>
</div>

