<div class="signed-out container landing">
  <h1>Simple envelope budgeting with your data backed by<%= image_tag 'dropbox-black.png' %></h1>
  <p><a class="btn btn-primary btn-lg" role="button" href="javascript:void(0)" id="sign-in">Login For Free</a></p>
</div>

<div id="backbone">
  <div class="loading signed-in"></div>
</div>
