<div id="backbone"></div>
<span class="pull-right contact"><%= link_to 'Contact me', 'mailto:darrinholst+budgetbuffer@gmail.com'%></span>

<script>
  window.budgets = <%= json_for(@budgets).html_safe %>
</script>

