<div class="row-fluid category">
  <div class="span6 name">
    <i class="add icon-plus"></i>
    <i class="delete icon-remove"></i>
    {{name}}
  </div>
  <div class="span2 amount">{{budgeted}}</div>
  <div class="span2 amount">{{spent}}</div>
  <div class="span2 amount">{{remaining}}</div>
</div>

<div class="buckets">
</div>
