<div class="span6 name">
  <i class="delete icon-remove"></i>
  <input type="text" name="name" class="inline-edit" value="{{name}}">
</div>
<div class="span2 amount">{{budgeted}}</div>
<div class="span2 amount">{{spent}}</div>
<div class="span2 amount">{{remaining}}</div>
