<div class="container-fluid edit-budget">
  <div class="row-fluid">
    <div class="span8" data-categories-container>
    </div>

    <div class="span4">
      <div class="overview">
        <table class="table">
          <tr>
            <td>Budgeted Income</td>
            <td>F</td>
          </tr>
          <tr>
            <td>Budgeted Expenses</td>
            <td>U</td>
          </tr>
          <tr>
            <td>Budgeted Buffer</td>
            <td>M</td>
          </tr>

          <tr class="spacer"></tr>

          <tr>
            <td>Actual Balance</td>
            <td>U</td>
          </tr>
          <tr>
            <td>Left To Spend</td>
            <td>L</td>
          </tr>
          <tr>
            <td>Actual Buffer</td>
            <td>LINS</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
