<div class="span6 name">
  <i class="add icon-plus"></i>
  <i class="delete icon-remove"></i>
  {{name}}
</div>
<div class="span2 amount">{{budgeted}}</div>
<div class="span2 amount"></div>
<div class="span2 amount"></div>
