<div class="container-fluid edit-budget">
  <div class="row-fluid">
    <div class="span8">
      <div class="income">
        <div class="buckets">
        </div>
      </div>

      <div class="expenses">
      </div>
    </div>
  </div>
</div>
