<div class="span6 name">
  <i class="delete icon-remove"></i>
  {{name}}
</div>
<div class="span2 amount">{{budgeted}}</div>
<div class="span2 amount">{{spent}}</div>
<div class="span2 amount">{{remaining}}</div>
