<div class="row-fluid category">
  <div class="span6 name">Income</div>
  <div class="span2 amount">{{budgeted}}</div>
  <div class="span2 amount"></div>
  <div class="span2 amount"></div>
</div>

<div class="buckets"></div>
