<div class="span6 name">
  <i class="delete icon-remove"></i>
  <input type="text" name="name" class="inline-edit" value="{{name}}">
</div>
<div class="span2"><input type="text" name="budgeted" class="inline-edit" value="{{budgeted}}"></div>
<div class="span2"><input type="text" name="spent" class="inline-edit" value="{{spent}}"></div>
<div class="span2 amount">{{remaining}}</div>
