<div class="span6">&nbsp;</div>
<div class="span2"><input type="text" class="inline-edit" value="{{budgeted}}" readonly></div>
<div class="span2"><input type="text" class="inline-edit" value="{{spent}}" readonly></div>
<div class="span2"><input type="text" class="inline-edit" value="{{remaining}}" readonly></div>
