<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">Starts On</div>
    <div class="span3">Actual Balance</div>
    <div class="span3">Left To Spend</div>
    <div class="span3">Buffer</div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <a href="#" class="btn btn-primary" data-add-budget>New Budget</a>
      </div>
    </div>
  </div>
</div>
