<div class="container-fluid edit-budget">
  <div class="row-fluid collapse-all">
    <ul>
      <li><a href="#" data-collapse-all><i class="icon icon-chevron-right"></i> Collapse All</a></li>
      <li><a href="#" data-expand-all><i class="icon icon-chevron-down"></i> Expand All</a></li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="row-fluid">
    <div class="span4 sidebar">
      <div data-overview-container></div>
    </div>

    <div class="span8 main">
      <div data-income-container></div>
      <div data-expenses-container></div>
    </div>
  </div>
</div>
