<div class="container-fluid edit-budget">
  <div class="row-fluid">
    <div class="span8">
      <div data-income-container></div>
      <div data-expenses-container></div>
    </div>

    <div class="span4">
      <div data-overview-container></div>
    </div>
  </div>
</div>
