<div class="category-container">
  <div class="configure-category" data-configure-category></div>
  <i class="collapse-category icon icon-chevron-{{#if collapsed}}right{{else}}down{{/if}}" data-collapse></i>

  <div class="row-fluid category header">
  </div>

  <div class="row-fluid buckets" {{#if collapsed}}style="display: none"{{/if}}>
  </div>
</div>

<div class="category-actions">
  <ul>
    <li><a href="#" class="btn btn-danger" data-delete-category>Delete Category</a></li>
    <li><a href="#" class="btn btn-success" data-add-bucket>Add Bucket</a></li>
  </ul>
</div>
