<div class="col-md-6"><input type="text" name="name" class="inline-edit" value="{{name}}"></div>
<div class="col-md-2"><input type="text" class="inline-edit" value="{{budgeted}}" readonly></div>
<div class="col-md-2"><input type="text" class="inline-edit" value="{{spent}}" readonly></div>
<div class="col-md-2"><input type="text" class="inline-edit" value="{{remaining}}" readonly></div>
<i class="delete fa fa-trash-o delete-category" data-delete-category title="remove category"></i>
