<div class="span6"><input type="text" name="name" class="inline-edit" value="{{name}}"></div>
<div class="span2"><input type="text" name="budgeted" class="inline-edit" value="{{budgeted}}"></div>
<div class="span2"><input type="text" name="spent" class="inline-edit" value="{{spent}}"></div>
<div class="span2"><input type="text" name="remaining" class="inline-edit" value="{{remaining}}" readonly></div>
<i class="delete icon-remove" data-delete-bucket></i>
