<div class="category-container">
  <div class="row category header"></div>
  <div class="row guage">
    <div class="money"></div>
    <div class="days"></div>
  </div>
  <div class="row buckets" {{#if collapsed}}style="display: none"{{/if}}></div>
  <div class="row add-bucket"><a href="javascript:void(0)" data-add-bucket><span class="fa fa-plus">&nbsp;</span>Add Bucket</a></div>
</div>
