<div class="clearfix bucket">
  <div class="col-lg-6"><input type="text" name="name" class="inline-edit" value="{{name}}"></div>
  <div class="col-lg-2"><input type="text" name="budgeted" class="inline-edit" value="{{budgeted}}"></div>
  <div class="col-lg-2"></div>
  <div class="col-lg-2"></div>
  <i class="delete fa fa-trash-o delete-bucket" data-delete-bucket title="remove bucket"></i>
</div>
