<div class="income">
  <div class="row category header"></div>
  <div class="row buckets" {{#if collapsed}}style="display: none"{{/if}}></div>
  <div class="row add-bucket"><a href="#" data-add-income>Add Bucket</a></div>
</div>

