<div class="col-md-6"><input type="text" class="inline-edit" value="Income" readonly></div>
<div class="col-md-2"><input type="text" class="inline-edit" value="{{budgeted}}" readonly></div>
<i class="collapse-category hover-show fa fa-angle-{{#if collapsed}}right{{else}}down{{/if}}" data-collapse></i>

