<div class="row-fluid bucket">
  <div class="span6"><input type="text" name="name" class="inline-edit" value="{{name}}"></div>
  <div class="span2"><input type="text" name="budgeted" class="inline-edit" value="{{budgeted}}"</div>
  <i class="delete fa fa-trash-o" data-delete-bucket></i>
</div>
