<div class="modal fade" id="addBudget" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add a new budget</h4>
      </div>
      <div class="modal-body">
        <div>
          <label class="inline" for="starts_on">Starts On:</label>
          <input type="text" id="starts_on">
        </div>
        <div>
          <label class="inline" for="ends_on">Ends On:</label>
          <input type="text" id="ends_on">
        </div>
        <label class="radio">
          <input name="from" id="from_clone" type="radio" value="clone" checked>
          <span>From Existing</span>
          <select id="from_selection"></select>
          <div class="clear"></div>
        </label>
        <label class="radio">
          <input name="from" id="from_scratch" type="radio" value="scratch">
          <span>From Scratch</span>
          <div class="clear"></div>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create Budget</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row header">
    <div class="column">Starts On</div>
    <div class="column">Actual Balance</div>
    <div class="column">Not Cleared</div>
    <div class="column">Buffer</div>
  </div>

  <div class="row footer">
    <div class="column">
      <a href="#addBudget" data-toggle="modal"><span class="fa fa-plus">&nbsp;</span>Add Budget</a>
    </div>
  </div>
</div>

