<div class="span6"><input type="text" name="itemization_name" class="inline-edit" value="{{name}}"></div>
<div class="span2"><input type="text" class="inline-edit" disabled readonly></div>
<div class="span2"><input type="text" name="itemization_spent" class="inline-edit" value="{{spent}}"></div>
<div class="span2"><input type="text" class="inline-edit" disabled readonly></div>
<i class="delete fa fa-remove" data-delete-itemization title="remove item"></i>
