<div class="span6"><input type="text" name="itemization_name" class="inline-edit" value="{{name}}"></div>
<div class="span2"><input type="text" class="inline-edit" readonly></div>
<div class="span2"><input type="text" name="itemization_spent" class="inline-edit" value="{{spent}}"></div>
<div class="span2"><input type="text" class="inline-edit" readonly></div>
<i class="delete icon icon-remove" data-delete-itemization title="remove item"></i>
