<div class="sandbox">
<div class="alert alert-info">You are currently signed in as a guest. No budgets you create will be saved. <%= link_to "Sign up", new_user_registration_path %> to start saving your work.</div>
<div id="backbone"></div>
</div>

<script>
  window.localStorageEnabled = true;
  window.budgets = [];
</script>
