<div class="alert alert-info">You are currently working in a sandboxed environment. No budgets you create will be saved. Please create an account or sign in to save your work.</div>
<div id="backbone"></div>

<script>
  window.localStorage = true;
  window.budgets = [];
</script>
