.budgets {
  #addBudget {
    width: 400px;
    margin-left: -200px;

    .inline {
      display: inline-block;
    }

    input[type=text] {
      font-size: 12px;
      height: 14px;
      width: 200px;
      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 14px;
    }

    label {
      margin-bottom: 10px;

      input[type=radio] {
        margin-top: 6px;
      }

      span {
        float: left;
        padding: 0 9px 0 5px;
        line-height: 24px;
      }

      select {
        margin-top: 2px;
        font-size: 12px;
        height: 23px;
        width: 200px;
        float: left;
        margin-bottom: 0;
      }
    }
  }

  .budget, .header {
    .column {
      width: 30%;
      float: left;
      text-align: right;
    }

    .column:first-child {
      width: 10%;
      text-align: left;
    }
  }

  .budget {
    padding: 6px 0;
  }

  .header {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }

  .footer {
    margin-top: 15px;
  }

  input {
    text-align: left !important;
  }
}
