.edit-budget {
  .main {
    float: left;
    margin-left: 0;
  }

  .sidebar {
    position: fixed;
    top: 50px;
  }

  .header {
    font-size: 12px;
    color: #aaa;
    text-align: right;

    > div {
    }

    > div:first-child {
      margin-left: -12px;
      margin-right: 12px;

      input {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
      }
    }
  }

  .income .category div:first-child {
    font-size: 18px;
    font-weight: bold;
  }

  .category, .bucket {
    div:first-child {
      input {
        margin-left: -5px;
        text-align: left;
      }
    }
  }

  .category {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px;

    input {
      font-weight: bold;
      font-size: 15px;
    }
  }

  .ui-sortable {
    cursor: move;
  }

  .bucket {
    position: relative;
    padding-right: 30px;

    div:first-child {
      input {
        margin-left: 15px;
      }
    }

    .delete {
      position: absolute;
      width: 18px;
      height: 20px;
      top: 5px;
      right: 7px;
      display: none;
    }

    &:hover {
      .add, .delete {
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  .actions {
    margin-top: 7px;
    text-indent: 15px;
  }

  .overview, .income, .category-container {
    background: white;
    padding: 10px 30px 10px 20px;
    margin-bottom: 15px;
    @include border-radius(3px);
    @include box-shadow(1px 1px 8px 2px rgba(0, 0, 0, .2));
  }

  .category-wrapper, .income-wrapper {
    position: relative;
  }

  .configure-category {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .category-container, .income {
    position: relative;
    z-index: 2;
  }

  .category-actions, .income-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    li {
      padding-bottom: 5px;
    }

    a {
      width: 110px;
    }
  }

  .overview {
    > div:nth-child(1n+2) div:first-child {
      text-indent: 15px;
    }

    > div:nth-child(1) {
      margin-bottom: 5px;
    }

    > div:nth-child(5) {
      margin-top: 15px;
      margin-bottom: 5px;

      div:first-child {
        text-indent: 0;
      }
    }
  }

  @media (max-width: 767px) {
    .main {
      float: none;
    }

    .sidebar {
      position: static;
    }

    .overview {
      margin-left: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .sidebar {
      right: 10px;
      top: 67px;
      width: 29%
    }

    .main {
      padding-left: 20px;
    }
  }

  @media (min-width: 980px) {
    .sidebar {
      margin-left: 635px !important;
      width: 305px;
    }
  }

  @media (min-width: 1200px) {
    .sidebar {
      margin-left: 785px !important;
      width: 385px;
    }
  }
}

