.edit-budget {
  .row .row {
    margin: 0;
  }

  .overview, .income, .category-container {
    background: white;
    margin-bottom: 15px;
  }

  .header {
    background: #fbfbfb;
    padding: 5px 0;
    border: 1px solid #ddd;

    input {
      font-weight: bold;
    }
  }

  .buckets {
    padding: 5px 0;
    border: 1px solid #ddd;
    border-top: none;
  }

  .header, .bucket {
    div:first-child input {
      text-align: left;
    }
  }
}

