.budgets {
  * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
  }

  .budget, .header {
    line-height: 34px;
    border-bottom: 1px solid #eee;

    .column {
      width: 30%;
      float: left;
      text-align: right;
    }

    .column:first-child {
      width: 10%;
      text-align: left;
      padding-left: 7px;
    }

    .column:last-of-type {
      padding-right: 7px;
    }
  }

  .budget {
    cursor: pointer !important;
    @include border-radius(3px);

    a {
      text-decoration: none;
      cursor: pointer;
    }

    &:hover {
      @include linear-gradient(#f5f5f5, #f0f0f0);
    }

    .touch-indicator {
      display: none;
    }
  }

  .header {
    font-weight: bold;
  }

  .footer {
    margin-top: 15px;
  }

  /*---------------------------------------*/
  /* Modal popover for adding a new budget */
  /*---------------------------------------*/
  #addBudget {
    display: none;
    width: 400px;
    margin-left: -200px;

    .inline {
      display: inline-block;
    }

    input[type=text] {
      font-size: 12px;
      height: 23px;
      width: 200px;
      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 14px;
    }

    label {
      margin-bottom: 10px;

      input[type=radio] {
        margin-top: 6px;
      }

      span {
        float: left;
        padding: 0 9px 0 5px;
        line-height: 24px;
      }

      select {
        margin-top: 2px;
        font-size: 12px;
        height: 23px;
        width: 200px;
        float: left;
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 500px) {
    #addBudget {
      width: 95% !important;
      margin: 20px auto !important;
    }
  }

  @media (max-width: 767px) {
    .header {
      display: none;
    }

    .budget {
      border-bottom: 1px solid #eee;
      padding: 15px 5px;
      width: 100%;

      .column {
        display: none;

        &:first-child {
          width: 100%;
          display: block;
        }
      }

      .touch-indicator {
        display: inline-block;
        position: absolute;
        right: 25px;
        margin-top: 8px;
      }
    }

    .footer {
      margin-left: -20px;
      padding-left: 20px;
    }
  }
}

