.edit-budget {
  .row .row {
    margin: 0;
  }

  .overview, .income, .category-container {
    background: white;
    margin-bottom: 15px;
  }

  .overview {
    border: 1px solid #ddd;

    @media (min-width: $screen-md-min) {
      position: fixed;
      width: 293px;
    }

    @media (min-width: $screen-lg-min) {
      position: fixed;
      width: 360px;
    }

    .header {
      border: none;
      border-bottom: 1px solid #ddd;

      input {
        width: 100px;
      }
    }

    .section {
      margin: 5px 0;
    }

    .detail {
      padding-left: 5px;
    }
  }

  .header {
    background: #eee;
    padding: 5px 0;
    border: 1px solid #ddd;

    input {
      font-weight: bold;
    }
  }

  .buckets {
    padding-top: 5px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
  }

  .header, .bucket, .itemization {
    div:first-child input {
      text-align: left;
    }
  }

  .bucket, .header, .itemization {
    position: relative;

    .delete-bucket, .delete-category, .itemize-bucket, .delete-itemization {
      display: none;
      position: absolute;
      top: 7px;
      right: 5px;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }

    .delete-category {
      top: 11px;
    }

    .hover-show {
      display: none;
    }

    &:hover {
      .hover-show, .delete-bucket, .delete-category, .itemize-bucket, .delete-itemization {
        display: block;
      }
    }
  }

  .add-category, .add-bucket {
    a {
      color: #777;
      font-size: .9em;
    }
  }

  .add-category {
    border: 2px dashed #ddd;
    background: #fbfbfb;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    font-weight: bold;
  }

  .add-bucket {
    padding-left: 20px;
    border: 1px solid #ddd;
    border-top: none;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .category-wrapper.ui-sortable-placeholder {
    margin-bottom: 15px;
  }

  .itemizations {
    padding-left: 15px;
  }

  .collapse-category, .collapse-bucket {
    position: absolute;
    top: 12px;
    left: 4px;
    cursor: pointer;

    &.fa-angle-right {
      left: 8px;
    }
  }

  .collapse-bucket {
    top: 6px;
  }
}
