*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fa {
  color: #666;
}

body {
  padding-bottom: 20px;
}

body {
  padding-top: 70px;
}

.clear {
  clear: both;
}

.signed-in, .signed-out {
  display: none;
}

.loading {
  position: absolute;
  left: 50%;
  width: 220px;
  margin-left: -110px;
  top: 50%;
  height: 20px;
  margin-top: 20px;
  background: asset-url('loading.gif');
}

ul {
  list-style: none;
  margin: 0;
}

form .inline {
  margin-bottom: 9px;
  vertical-align: middle;

  input {
    margin: 0;
  }

  label {
    display: inline-block;
    margin: 0;
  }
}

.landing {
  h1 {
    padding: 20px 0;
    font-size: 35px;
    color: #333;

    img {
      height: 60px;
      padding: 10px 5px;
    }
  }

  a {
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 15px;
  }
}
