.fa {
  color: #666;
}

body {
  background: #eee;
  padding-bottom: 20px;
}

.hero-unit {
  background: white;

  p {
    padding-top: 10px;
  }

  & + span a, a {
    text-decoration: underline;
  }

  a.btn {
    text-decoration: none;
  }
}

body > .container {
  padding-top: 50px;
}

.clear {
  clear: both;
}

.container-fluid {
  padding: 0;
}


ul {
  list-style: none;
  margin: 0;
}

.nav.budget-list {
  display: none;
}

.navbar-fixed-top {
  .brand {
    padding-left: 20px;
  }
}

form .inline {
  margin-bottom: 9px;
  vertical-align: middle;

  input {
    margin: 0;
  }

  label {
    display: inline-block;
    margin: 0;
  }
}

.landing {
  h1 {
    padding: 20px 0;
    font-size: 50px;
    color: #51A351;
    text-shadow: 1px 1px 0 black;
  }

  a {
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 15px;
  }
}

#activity {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  background: image-url("activity.gif") no-repeat;
}

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: auto;
  }
}

@media (max-width: 979px) {
  body > .container {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-bottom: 10px;

    .btn-navbar {
      margin-right: 15px;
    }
  }
}
