/*
 *= require bootstrap_and_overrides
 */

@import "bourbon";
@import "bootstrap-datepicker";
@import "global";
@import "validations";
@import "inline_edit";
@import "header";

@import "budgets";
@import "budget";

form .inline {
  margin-bottom: 9px;
  vertical-align: middle;

  input {
    margin: 0;
  }

  label {
    display: inline-block;
    margin: 0;
  }
}

.landing {
  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    line-height: 100px;
    color: #51A351;
    text-shadow: 1px 1px 1px #62C462;
  }
}

