/*
 *= require bootstrap_and_overrides
 */

@import "bourbon";
@import "bootstrap-datepicker";
@import "global";
@import "validations";

@import "budget";

form .inline {
  margin-bottom: 9px;
  vertical-align: middle;

  input {
    margin: 0;
  }

  label {
    display: inline-block;
    margin: 0;
  }
}

